<footer id="footer">
  <div class="container">
    <a href="#hero" class="back-to-top">
      <img
        src="./assets/img/1_hero/SVG/sakura_logo.svg"
        alt="Sakura Logo"
        class="logo-small"
      />
      <img
        src="./assets/img/5_section_footer/SVG/sakura_ramen_logo_and_text.svg"
        alt="Sakura Ramen Logo mit Text"
        class="logo-tall"
      />
    </a>
    <div class="imprint-link">
      <a href="imprint">Imprint</a>
    </div>
    <div class="social-media">
      <a target="_blank" href="http://www.tripadvisor.com" class="link">
        <img
          class="link-img"
          src="./assets/img/5_section_footer/SVG/tripadvisor_logo.svg"
          alt="Tripadvisor Logo"
        />
      </a>
      <a target="_blank" href="http://www.facebook.com" class="link">
        <img
          class="link-img"
          src="./assets/img/5_section_footer/SVG/facebook_logo.svg"
          alt="Facebook Logo"
        />
      </a>
      <a target="_blank" href="http://www.instagram.com" class="link">
        <img
          class="link-img"
          src="./assets/img/5_section_footer/SVG/instagram_logo.svg"
          alt="Instagram Logo"
        />
      </a>
    </div>
  </div>
</footer>
