<section id="imprint">
  <div class="container">
    <h2 class="fontRaleway">Imprint</h2>
    <div class="imprint-content">
      <p>
        <span class="fontEconomica">Mario Kreitz</span><br />
        Mönchfeldstraße 7<br />
        70378 Stuttgart<br />
        Germany
      </p>
      <p>
        <span class="fontEconomica">E-Mail:</span>
        <a href="mailto:info@sakura-ramen.de">contact&#64;mario-kreitz.dev</a
        ><br />
        <span class="fontEconomica">Website:</span>
        <a href="https://sakura-angular.netlify.app/"
          >www.sakura-angular.netlify.app</a
        >
      </p>
    </div>
  </div>
</section>
