<section id="menu" class="our-menu-section">
  <div class="container">
    <h2 class="fontRaleway menu-headline">Our Menu</h2>
    <div class="flex-layout">
      <!-- Tonkatsu Ramen -->
      <div class="first-dish">
        <img
          src="./assets/img/3_section_our_menu/Png/R1.png"
          alt="Tonkatsu Ramen"
          class="dish-img"
        />
        <table class="table-layout">
          <thead>
            <tr>
              <th class="fontEconomica dish-name">Tonkatsu Ramen</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="dish-variants">Chicken</td>
              <td class="dish-variants">11.95€</td>
            </tr>
            <tr>
              <td class="dish-variants">Beef</td>
              <td class="dish-variants">12.95€</td>
            </tr>
            <tr>
              <td class="dish-variants">Shrimp</td>
              <td class="dish-variants">13.95€</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Spicy Miso Ramen -->
      <div class="second-dish">
        <img
          src="./assets/img/3_section_our_menu/Png/R2.png"
          alt="Tonkatsu Ramen"
          class="dish-img"
        />
        <table class="table-layout">
          <thead>
            <tr>
              <th class="fontEconomica dish-name">Spicy Miso Ramen</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="dish-variants">Chicken</td>
              <td class="dish-variants">11.95€</td>
            </tr>
            <tr>
              <td class="dish-variants">Beef</td>
              <td class="dish-variants">12.95€</td>
            </tr>
            <tr>
              <td class="dish-variants">Shrimp</td>
              <td class="dish-variants">13.95€</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Shio Ramen -->
      <div class="third-dish">
        <img
          src="./assets/img/3_section_our_menu/Png/R3.png"
          alt="Tonkatsu Ramen"
          class="dish-img"
        />
        <table class="table-layout">
          <thead>
            <tr>
              <th class="fontEconomica dish-name">Shio Ramen</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="dish-variants">Chicken</td>
              <td class="dish-variants">11.95€</td>
            </tr>
            <tr>
              <td class="dish-variants">Beef</td>
              <td class="dish-variants">12.95€</td>
            </tr>
            <tr>
              <td class="dish-variants">Shrimp</td>
              <td class="dish-variants">13.95€</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
