<section id="howToOrder">
  <div class="container">
    <h2 class="fontRaleway">How To Order</h2>
    <div class="grid-layout">
      <!-- Noodle-->
      <div class="grid-item">
        <img
          src="./assets/img/2_section_how_to_order/SVG/noodle.svg"
          alt="bowl with noodles and chopsticks"
          class="grid-image"
        />
        <h3 class="fontEconomica">
          Pick your <br />
          <span class="md:ml-5">noodle</span>
        </h3>
      </div>

      <!-- Broth -->
      <div class="grid-item">
        <img
          src="./assets/img/2_section_how_to_order/SVG/broth.svg"
          alt="bowl with hot broth in it"
          class="grid-image"
        />
        <h3 class="fontEconomica">
          Pick your <br />
          broth
        </h3>
      </div>

      <!-- Egg-->
      <div class="grid-item">
        <img
          src="./assets/img/2_section_how_to_order/SVG/egg.svg"
          alt="an egg sliced in half"
          class="grid-image"
        />
        <h3 class="fontEconomica">
          Add your <br />
          toppings
        </h3>
      </div>
    </div>
  </div>
</section>
